@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EDEAE5;
    background-color: #FEF9C7;
    font-family: 'Rubik', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* --------- Universal --------- */
.ncc-pageTitle-dec {
    text-transform: uppercase;
    text-decoration: underline;
}

.testunderline {
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    border-bottom: solid black;
}

.ncc-modal-decoration {
    background-color: #9FEDD7;
    border: solid black;
    padding: 2rem;
    /* width: 25%; */
}

@media (max-width: 600px) {
    .ncc-modal-decoration {
        width: 80%;
    }
}

.ncc-btn {
    background-color: #026670;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

.ncc-inline-block {
    display: inline-block;
}

.ncc-paddingLeftRight-1rem {
    padding: 0 1rem
}

.ncc-paddingTop-1rem {
    padding-top: 1rem;
}

.ncc-margbot-2 {
    margin-bottom: 2rem;
}

.ncc-margbot-4 {
    margin-bottom: 4rem;
}

.ncc-margLeftRight-1rem {
    margin: 1rem
}

.ncc-vw100 {
    width: 100vw;
}

.ncc-vh100 {
    min-height: 100vh;
    background-color: blue;
}

#ncc-id-recipeCard .card-action .ncc-blackFont {
    color: #026670;
    color: black;
}

/* --------- Navigation bar (base.html) --------- */
header .ncc-navbar-dec {
    background-color: #026670;
    min-height: 5vh;
}

.ncc-homeScreen-p1 {
    height: 85vh;
}



/* --------- Home page (home.html) --------- */
.ncc-brandCard {
    /* background-color: #9FEDD7; */
    /* background-color: #FCE181; */
    background-color: #EDEAE5;
    border: none;
    border: solid black;
    /* border-right-style: hidden; */
    margin-bottom: 2rem;
}

.ncc-brandCard h1 {
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
}

.ncc-brandCard i {
    font-size: 7rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.ncc-brandCard p {
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
}

.ncc-homeScreen-p1 .ncc-btn {
    min-width: 40%;
    /* margin: 0 1rem; */
    color: #EDEAE5;
}

#ncc-id-homeScreen-p2 {
    background-color: #9FEDD7;
    min-height: 95vh;
    border: solid black;
}

#ncc-id-homeScreen-p2 h2 {
    padding-top: 10vh;
    text-transform: uppercase;
    /* border: solid black; */
    /* border-top-style: hidden; */
}

.ncc-homeScreen-p2 img {
    width: 30%;
}

.ncc-fixbug1 {
    border: solid #9FEDD7
}


/* --------- Register (register.html) --------- */
.ncc-form-decoration {
    background-color: #EDEAE5;
    border: solid black;
}

.ncc-form-decoration .ncc-btn a {
    color: #EDEAE5;
}


/* --------- profile (profile.html) --------- */
#ncc-yourInfoArea .ncc-btn {
    min-width: 10rem;
}

@media (max-width: 600px) {
    #ncc-yourInfoArea .col:first-child {
        margin-bottom: 2rem;
    }
}

#ncc-yourInfoArea .card-action .ncc-blackFont {
    color: black;
}

.ncc-icon-dec {
    color:maroon
}

.ncc-test {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.ncc-test2 {
    padding: 0.5;
    margin-bottom: 0
}


/* --------- All recipes (all_recipes.html) --------- */
.ncc-recipeCard-decoration {
    border: none;
    border: solid black;
}

.ncc-recipeCardTitle {
    background-color: black;
    /* opacity: 0.5; */
    width: 100%;
}


/* --------- Chosen recipe (chosen_recipe.html) --------- */
#ncc-id-chosenCard {
    /* background-color: #026670; */
    
    padding-top: 1rem;
    margin-top: 4rem;
}

.ncc-chosedRecipe-area {
    background-color: #EDEAE5;
    border: solid black;
    height: fit-content;
}

#ncc-id-chosenCard img {
    width: 100%;
}

#delete_message .ncc-btn {
    background-color: #026670;
    color: #EDEAE5;
    min-width: 40%
}


/* --------- Search recipe (all_recipes.html & my_recipes.html) --------- */
.ncc-searchForm-decoration {
    background-color: #9FEDD7;
    /* background-color: #026670; */
    border: solid black;
    padding: 0.5rem 1rem;
}

.ncc-searchForm-decoration .ncc-btn {
    background-color: #FEF9C7;
    background-color: #EDEAE5;
    background-color: #026670;
    color: black;
    min-width: 30%
}

@media (min-width: 1200px) {
    .ncc-searchForm-decoration .ncc-btn {
        min-width: 10%
    }
}


/* --------- Footer (base.html) --------- */
footer {
    background-color: #9FEDD7;
    background-color: #026670;
    padding-bottom: 2rem;
    margin-top: 4rem;
}

#ncc-footer {
    /* margin-top: 10rem; */
    padding-top: 1rem;
    /* border-top: solid black; */
}

#ncc-footer li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}