@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

body {
    background-color: #EDEAE5;
    background-color: #FEF9C7;
}


/* --------- Universal --------- */
.ncc-btn {
    background-color: #026670;
}

.ncc-margbot-2 {
    margin-bottom: 2rem;
}

.ncc-margbot-4 {
    margin-bottom: 4rem;
}

.ncc-vw100 {
    width: 100vw;
}

.ncc-vh100 {
    height: 100vh;
    background-color: blue;
}


/* --------- Navigation bar (base.html) --------- */
header .ncc-navbar-dec {
    background-color: #026670;
    min-height: 5vh;
}

.ncc-homeScreen-p1 {
    height: 85vh;
}

.ncc-brandCard {
    /* background-color: #9FEDD7; */
    /* background-color: #FCE181; */
    background-color: #EDEAE5;
    border: none;
    border: solid black;
    /* border-right-style: hidden; */
    margin-bottom: 2rem;
}

.ncc-brandCard h1 {
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
}

.ncc-brandCard i {
    font-size: 7rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.ncc-brandCard p {
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
}

.ncc-homeScreen-p1 .ncc-btn {
    font-family: 'Rubik', sans-serif;
    min-width: 40%;
    margin: 0 1rem;
    color: #EDEAE5;
}

#ncc-id-homeScreen-p2 {
    background-color: #9FEDD7;
    min-height: 100vh;
    border: solid black;
}

#ncc-id-homeScreen-p2 h2 {
    padding-top: 10vh;
    text-transform: uppercase;
    /* border: solid black; */
    /* border-top-style: hidden; */
}

.ncc-homeScreen-p2 img {
    width: 30%;
}