{% extends "base.html" %}
{% block content %}

<h2 class="center ncc-margbot-4">All recipes</h2>

<div class="container">
    <div class="row">
        {% for each_recipe in recipes %}
        <div class="col s12 m4">
            <div class="card large hoverable ncc-recipeCard-decoration">
                <div class="card-image">
                    <img src="../static/images/karthik-garikapati-oBbTc1VoT-0-unsplash.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title truncate"><strong>{{ each_recipe.recipe_name}}</strong><i class="fas fa-info-circle activator right"></i></span>
                    <p>{{ each_recipe.recipe_description }}</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><strong>{{ each_recipe.recipe_name }}</strong><i class="fas fa-info-circle right"></i></span>
                    <p>{{ each_recipe.recipe_description }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('chosen_recipe', recipe_id=each_recipe._id) }}">Lets make this</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}