{% extends "base.html" %}
{% block content %}

<div id="ncc-id-chosenCard" class="container">
    <div class="row ">
        <div class="col s12 l8 offset-l2 ncc-chosedRecipe-area">
            <div class="row">
                <div class="s12">
                    <div class="row ncc-paddingLeftRight-1rem ncc-paddingTop-1rem">
                        <div class="col s12 l6">
                            {% if not recipe.recipe_image_url %}
                            <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="Default image of a recipe">
                            {% else %}
                            <img src="{{ recipe.recipe_image_url }}" alt="Image posted by a user">
                            {% endif %}
                        </div>
                        <div class="col s12 l6 ">
                            {% if session.this_user == recipe.created_by or session.this_user == "admin" %}
                            <!-- Icon in the corner of the screen giving the option to edit and delete the recipe. Only accessible to the user who posted it and the admin -->
                            <div class="fixed-action-btn">
                                <a class="btn-floating btn-large green">
                                    <i class="large fas fa-plus"></i>
                                </a>
                                <ul>
                                    <li>
                                        <a href="#delete_message" class="btn-floating red darken-4 modal-trigger">
                                            <i class="fas fa-trash small"></i>
                                        </a>
                                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-floating purple darken-4">
                                            <i class="fas fa-edit small"></i>
                                        </a>

                                        <!-- Modal for deleting a recipe -->
                                        <div id="delete_message" class="modal s12 ncc-modal-decoration">
                                            <div class="modal-conent center-align">
                                                <h4>Delete?</h4>
                                                <p>Clicking yes will permanently delete this recipe</p>
                                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close btn-small btn-flat center-align ncc-btn">Yes</a>
                                                <a class="modal-close btn-small btn-flat ncc-btn">No</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                            <h2>{{ recipe.recipe_name }}</h2>
                            <i>created by {{ recipe.created_by }} on {{ recipe.post_date }}</i>
                            <br>
                            <div class="center">
                                <!-- Likes - clickable and will increment -->
                                <div class="ncc-inline-block ncc-margLeftRight-1rem">
                                    <a href="{{ url_for('like', recipe_id=recipe._id) }}">
                                        <i class="fas fa-heart small"></i>
                                    </a>
                                    <p class="center">{{ recipe.likes }}</p>
                                </div>
                                <!-- Cooking duration -->
                                <div class="ncc-inline-block ncc-margLeftRight-1rem">
                                    <i class="fas fa-clock prefix small"></i>
                                    <p class="center">{{ recipe.recipe_duration }}m</p>
                                </div>
                                <!-- How many the recipe will feed -->
                                <div class="ncc-inline-block ncc-margLeftRight-1rem ">
                                    <i class="fas fa-users prefix small"></i>
                                    <p class="center">{{ recipe.recipe_servings }}</p>
                                </div>
                            </div>
                            <br>
                            <h5>Description</h5>
                            <p>{{ recipe.recipe_description }}</p>
                        </div>
                    </div> 
                </div>
                <div class="s12">
                    <div class="row ncc-paddingLeftRight-1rem">
                        <div class="col s12 m4">
                            <h5>Ingredients</h5>
                            <ul>
                                {% for each_ingredient in ingredients %}
                                <li>{{ each_ingredient }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col s12 m8">
                            <h5>Instructions</h5>
                            <ol>
                                {% for each_instruction in instructions %}
                                <li>{{ each_instruction }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
                      
        </div>
        <div class="col s12 m8 offset-m2">
            
        </div>
    </div>
</div>
{% endblock %}