{% extends "base.html" %}
{% block content %}

<!-- **** MAIN SCREEN (PART 1) *** -->
<div class="container">
    <div class="row valign-wrapper ncc-homeScreen-p1">
        <div class="col s12 m8 offset-m2 center">
            <div class="ncc-brandCard">
                <i class="fas fa-times-circle"></i>
                <!-- Error title -->
                <h1>error 401</h1>
            </div>
            <a href="{{ url_for('home') }}" class="btn-flat btn-large ncc-btn">home</a>
        </div>
    </div>
</div>

{% endblock %}