{% extends "base.html" %}
{% block content %}

<!-- **** MAIN SCREEN (PART 1) *** -->
<div class="container">
    <div class="row valign-wrapper ncc-homeScreen-p1">
        <div class="col s12 m8 offset-m2 center">
            <!-- {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3>{{ message }}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %} -->
            <div class="ncc-brandCard">
                <!-- Website logo -->
                <i class="fas fa-times-circle"></i>
                <!-- Website name -->
                <h1>error 404</h1>
                <!-- Website slogan -->
            </div>
            <a href="{{ url_for('home') }}" class="btn-flat btn-large ncc-btn">home</a>
        </div>
    </div>
</div>

{% endblock %}