{% extends "base.html" %}
{% block content %}

<!-- **** MAIN SCREEN (PART 1) *** -->
<div class="container">
    <div class="row valign-wrapper ncc-homeScreen-p1">
        <div class="col s12 m8 offset-m2 center">
            <div class="ncc-brandCard">
                <!-- Website logo -->
                <i class="fas fa-utensils"></i>
                <!-- Website name -->
                <h1>ēd-šo</h1>
                <!-- Website slogan -->
                <p>make meal choices easy :)</p>
            </div>
            {% if not session.this_user %}
            <a href="{{ url_for('register') }}" class="btn-flat btn-large ncc-btn">register</a>
            {% endif %}
            <a href="#ncc-id-homeScreen-p2" class="btn-flat btn-large ncc-btn">more</a>
        </div>
    </div>
</div>

<!-- **** MAIN SCREEN (PART 2) *** -->
<div id="ncc-id-homeScreen-p2" class="container">
    <h2 class="center ncc-margbot-4">How it works</h2>
    <div class="row ncc-homeScreen-p2">
        <div class="col s12 m6 ncc-margbot-2 center">
            <img src="../static/images/question.png" alt="">
            <h3>Can't decide?</h3>
            <p>Tired of thinking endlessly on what new to cook? Let us do that for you by giving you 6 recipes for you to choose from</p>
        </div>
        <div class="col s12 m6 ncc-margbot-2 center">
            <img src="../static/images/cook.png" alt="">
            <h3>The fun of making</h3>
            <p>Now that you have chosen what you want to cook, YAY! Now you do the fun bit and cook!</p>
        </div>
        <div class="col s12 m6 ncc-margbot-2 center">
            <img src="../static/images/sharing.png" alt="">
            <h3>Contribute</h3>
            <p>Think you have a great recipe to hare to the world? Why not contribute by adding it the database</p>
        </div>
        <div class="col s12 m6 ncc-margbot-2 center">
            <img src="../static/images/social-media.png" alt="">
            <h3>Show your creation</h3>
            <p>Once you make your dish, why not post it on our social media and show the world your new recipe</p>
        </div>
    </div>
</div>

<footer>
    <div id="ncc-footer" class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About us</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Get in touch</h5>
                <ul>
                    <li class="ncc-inline-block"><a class="grey-text text-lighten-3" href="https://www.facebook.com/"><i class="fab fa-facebook medium"></i></a></li>
                    <li class="ncc-inline-block"><a class="grey-text text-lighten-3" href="https://twitter.com/?lang=en-gb"><i class="fab fa-twitter medium"></i></a></li>
                    <li class="ncc-inline-block"><a class="grey-text text-lighten-3" href="https://www.instagram.com/"><i class="fab fa-instagram medium"></i></a></li>
                    <li class="ncc-inline-block"><a class="grey-text text-lighten-3" href="https://www.tiktok.com/"><i class="fab fa-tiktok medium"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2021 Copyright ēd-šo
        </div>
    </div>
</footer>

{% endblock %}