{% extends "base.html" %}
{% block content %}

<!-- **** MAIN SCREEN (PART 1) *** -->
<div class="container">
    <div class="row valign-wrapper ncc-homeScreen-p1">
        <div class="col s12 m8 offset-m2 center">
            <div class="ncc-brandCard">
                <!-- Website logo -->
                <i class="fas fa-utensils"></i>
                <!-- Website name -->
                <h1>ēd-šo</h1>
                <!-- Website slogan -->
                <p>make meal choices easy :)</p>
            </div>
            <a href="{{ url_for('register') }}" class="btn-flat btn-large ncc-btn">register</a>
            <a href="#ncc-id-homeScreen-p2" class="btn-flat btn-large ncc-btn">more</a>
        </div>
    </div>
</div>

<!-- **** MAIN SCREEN (PART 2) *** -->
<div id="ncc-id-homeScreen-p2" class="container">
    <h2 class="center ncc-margbot-4">How it works</h2>
    <div class="row ncc-homeScreen-p2">
        <div class="col s12 m5 offset-m1 ncc-margbot-2 center">
            <img src="../static/images/question.png" alt="">
            <h3>Can't decide?</h3>
            <p>Tired of thinking endlessly on what new to cook? Let us do that for you by giving you 6 recipes for you to choose from</p>
        </div>
        <div class="col s12 m5 ncc-margbot-2 center">
            <img src="../static/images/cook.png" alt="">
            <h3>The fun of making</h3>
            <p>Now that you have chosen what you want to cook, YAY! Now you do the fun bit and cook!</p>
        </div>
        <div class="col s12 m5 offset-m1 ncc-margbot-2 center">
            <img src="../static/images/sharing.png" alt="">
            <h3>Contribute</h3>
            <p>Think you have a great recipe to hare to the world? Why not contribute by adding it the database</p>
        </div>
        <div class="col s12 m5 ncc-margbot-2 center">
            <img src="../static/images/social-media.png" alt="">
            <h3>Show your creation</h3>
            <p>Once you make your dish, why not post it on our social media and show the world your new recipe</p>
        </div>
    </div>
</div>

{% endblock %}